ffmpeg==1.4
Flask==2.2.2
googletrans==4.0.0rc1
instaloader==4.9.5
moviepy==1.0.3
openai==0.26.4
pre-commit
pyTelegramBotAPI==4.7.1
python-dotenv==0.21.0
revChatGPT==1.1.4
spotipy==2.21.0
tiktoken==0.2.0
yt-dlp==2022.11.11
dotenv
